<a style="cursor: pointer" class="
    list-group-item list-group-item-action
  " (click)="Edit()" routerLink="{{[index]}}/create-cate">
  <div class="row d-flex justify-content-around">
    <div class="col-8">
      <div [routerLink]="[index]" routerLinkActive="active">
        <div class="list-group-item-heading h4">
          ID: {{ category?.idCategory }}
        </div>
        <div class="list-group-item-text h5">
          Name Cate: {{ category?.nameCategory }} </div>
        <div class="list-group-item-text h8">
          Description: {{ category?.description }} </div>
      </div>
    </div>
    <div class="col">
      <div class="pt-4">
        <button class="btn" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
  <span>
  </span>
</a>
<style>
  button {
    background-color: rgb(27, 40, 56);
    color: white;
  }

  button:hover {
    opacity: 0.7;
    background-color: rgb(27, 40, 56);
  }

  a:hover {
    background-color: rgb(42, 71, 94);
    color: white;
  }

  a:hover div {
    color: white;
  }
</style>