<div class="row">
  <div class="col-sm-12">
    <h2 class="text-center">Form Category</h2>
    <form class="container my-3" style="background-color: rgb(199, 213, 224); border-radius: 10px;" [formGroup]="cateGames" (ngSubmit)="onSubmit()">
      <div class="col d-flex flex-column">
        <div class="row d-flex justify-content-around">
          <div class="col-5">
            <div class="form-group">
              <label for="idCategory">Id Category</label>
              <input class="form-control" id="idCategory" placeholder="ID Category" formControlName="idCategory">
              <div *ngIf="form.idCategory.invalid && form.idCategory.dirty">
                <div *ngIf="form.idCategory.errors">
                  <small id="idCategory" class="form-text text-danger">Please enter id Category</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="nameCategory">Name Category</label>
              <input class="form-control" id="nameCategory" placeholder="Name Category" formControlName="nameCategory">
              <div *ngIf="form.nameCategory.invalid && form.nameCategory.dirty">
                <div *ngIf="form.nameCategory.errors">
                  <small id="nameHelp" class="form-text text-danger">Please enter Name Category</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control des" id="description" placeholder="Description"
                formControlName="description"></textarea>
              <div *ngIf="form.description.invalid && form.description.dirty">
                <div *ngIf="form.description.errors">
                  <small id="descriptionHelp" class="form-text text-danger">Please enter Description</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn col-1 mb-1" [disabled]="cateGames.invalid">Submit</button>
      </div>
    </form>
  </div>
</div>
<style>
  #description {
    height: 125px;
  }

  button {
    background-color: rgb(27, 40, 56);
    color: white;
    align-self: center;
    cursor: pointer;
  }
  button:hover{
    opacity: 0.7;
  }
</style>