<div id="bottom">
  <div class="bottom-container">
    <div class="contact-container">
      <a href="#">
        <img class="logo-img" src="https://store.cloudflare.steamstatic.com/public/images/footerLogo_valve_new.png"
          alt="">
      </a>
      <div class="contact-address">
        <p>
          © 2021 Valve Corporation. Bảo lưu mọi quyền. Tất cả các thương hiệu là tài sản của chủ sở hữu tương ứng tại
          Hoa Kỳ và các quốc gia khác.
        </p>
      </div>
      <div class="bottom-nav-list">
        <a href="#">Chính sách bảo mật |</a>
        <a href="#">Pháp lý |</a>
        <a href="#">Điều khoản người đăng ký Steam |</a>
        <a href="#">Hoàn tiền |</a>
        <a href="#">Về cookie</a>
      </div>
    </div>
  </div>
</div>
