*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}
h6{
  font-size: 18px;
  line-height:55px;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  margin-bottom:26px;
  text-transform: uppercase;
  letter-spacing:2px;
}
li{
  list-style: none;
}
/* Header */
#header {
  display:flex;
  justify-content: space-around;
  height:70px;
  background: rgba(7, 28, 51, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#header img {
  margin: 8px 0;
}
.logo-img{
  width: auto;
  height: 25px;
}


#navbar li {
  display:inline-block;
}

#navbar li a{
  display: inline-block;
  padding: 0 30px;
  line-height: 70px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
#navbar li:hover a{
  color: #fcb85d;
}

#parallax{
  position: relative;
  padding-top:50%;
  background: url(https://gamek.mediacdn.vn/133514250583805952/2021/2/22/photo-1-16139642311542094859234.png) top / cover no-repeat;
}
#parallax .content-container{
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}
#parallax .content-heading{
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
}

#parallax .content-text{
  font-size: 15px;
}
#skills,
#objective{
  width: 100%;
}

.heading{
  padding-top: 5%;
  text-align: center;
}

.heading>h2{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}


h2>hr{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width:70px;
  height: 2px;
  border: none;
  background-color: #fcb85d
}

#objective .objective-content{
  display: flex;
  justify-content: space-around;
  padding-top: 2.5%;
}

.term>p::before{
  content:"";
  display: block;
  width:70px;
  height: 2px;
  background-color: #fcb85d
}
.skills-title,
#objective .term>h4{
  text-align: left;
  color: #34495e;
  font-size: 23px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

p{
  text-align: left;
  font-size:15px;
  font-weight: 400;
  line-height: calc(5/3);
  color: #888a8c;
  font-family: 'Raleway', sans-serif;
}
.soft-skill,
.hard-skill{
  display: flex;
  justify-content: space-around;
  padding-top: 2.5%;
}
.soft-skill{
  padding-bottom:2.5%;
}

.skill-left{
  width: 333px;
}

.skill-right>p::before,
.skill-left>p:before{
  content:"";
  display: block;
  width:70px;
  height: 2px;
  background-color: #fcb85d
}
.skill-right{
  width:505px;
}

.description>a{
  text-decoration: none;
  color: #fcb85d;
}
/* Projects */
.project-container{
  display: flex;
  justify-content: space-around;
}

.project-content>h4{
  color: #34495e;
  font-size: 23px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.project-content>h4::before
{
  margin: 25px 0;
  content:"";
  display: block;
  width:70px;
  height: 2px;
  background-color: #fcb85d
}

.product-items{
  text-align: center;
  padding: 10px;
}
.btn-buy{
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
}
.btn-buy:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.product-item{
  padding-top: 15px;
  transition: 0.;
}
.product-item:hover{
  color: red;
  cursor: pointer;
}

h6{
  font-size: 18px;
  line-height:55px;
  color: #fff;
  font-weight: 500;
  font-family: inherit;
  margin-bottom:26px;
  text-transform: uppercase;
  letter-spacing:2px;
}
/* Bottom */

#bottom{
  background:#071c33;
  bottom:0;
}
.bottom-container{
  padding: 70px 0;
  display:flex;
  justify-content:space-around
}
.contact-container,dt,dd{
  display: inline-block;
  color: #fff;
}
.contact-address{
  margin-top: 25px;
}
a:hover{
  color: #fcb85d;
}
.bottom-nav>a{
  text-decoration:none;
}

.bottom-nav-list>a{
  color: #ffae00;
  font-weight: 400;
  position: relative;
  transition:.5s;
  margin-left: 10px;
}


.bottom-nav-list a:hover {
  color: #fff;
  letter-spacing: 5px;
  transition:.5s;
}

