<style>
  .my-pagination /deep/ .ngx-pagination {
    text-align: center;
    color: white;
  }

  .my-pagination /deep/ .ngx-pagination .current {
    background: rgb(42, 71, 94);
    border-radius: 20px;
  }

  button:hover {
    opacity: 0.7;
    background-color: rgb(27, 40, 56);
  }

  button {
    background-color: rgb(27, 40, 56);
    color: white;
    border: none;
  }
</style>
<div class="h2 text-center p 3">Category</div>
<div>
  <button type="button" class="btn btn-primary mb-3 ml-3" routerLink="/create-cate">
    Create new category
  </button>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-cate-item class="m-1"
      *ngFor="let categoryItem of categories | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalLength }; let i = index "
      [category]="categoryItem" [index]="i">
    </app-cate-item>
  </div>
</div>
<pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel="">
</pagination-controls>