<style>
  .profile-card {
    padding: 50px 0;
  }

  .profile-card__wrapper {
    padding: 20px 0;

  }

  .profile-card__wrapper .card {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    .profile-card__wrapper .card {
      width: calc(100% / 3 - 30px);
      margin-left: 30px;
    }
  }

  @media (max-width:567px) {
    .profile-card__wrapper .card {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
  }

  .profile-card__wrapper .inner {
    margin-left: -30px;
    flex-wrap: wrap;
  }


  .title {
    color: grey;
    font-size: 18px;
  }

  .card {
    border-radius: 5px;
    background-color: rgb(42, 71, 94);
  }

  .card__image {
    border-radius: 5px;
  }

  .card div {
    color: white;
  }

  button:hover {
    opacity: 0.7;
  }

  button {
    background-color: rgb(27, 40, 56);
    color: white;
    align-self: center;
    cursor: pointer;
    margin: 5px 0;
  }

  .edit:hover {
    background-color: turquoise;
  }

  .delete:hover {
    background-color: red;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
</style>
<div class="card d-flex flex-column align-items-center" [routerLink]="[index]" routerLinkActive="active">
  <div class="card__image">
    <img [src]="product?.image" alt="John" style="width:340px;">
  </div>
  <div class="h1">{{product?.nameProduct}}</div>
  <div class="h5">{{product?.price}} VND</div>
  <div class="h8">{{product?.description}}</div>
  <div class="row">
    <div><button class="btn edit" (click)="edit()">Edit</button></div>
    <div class="pl-2"><button class="btn delete" (click)="delete()">Delete</button></div>
  </div>
</div>